build
node_modules
.github
.yarn
next.config.js
lint-staged.config.js
commitlint.config.js
customRenderer.js
next-sitemap.config.js
next-seo.config.js
bin
coverage
dist
.next
*.css
*.svg
tailwind.config.js
postcss.config.js